.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #bff8ff;
    border-radius: 21px;
    transform: rotate(30deg);
    opacity: 0.7;
}
.product-device-3 {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 500px;
    background-color: #ff6969;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #96ffbb;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.bg-image-1{
    background-image: url(https://images.unsplash.com/uploads/141272300328990d5f2da/b9a32ed2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: auto;
}